{% extends 'base.html' %}
{% block head_title %}{{ block.super }} Homepage {% endblock head_title %}
{% block content %}


    <div style="margin:20px" >
    <h3 style="text-align:center">Welcome to Start2Auction {{request.user}}</h3>
    <h3 style="text-align:center">The Future Of Auction</h3>
    </div>
    {% for section in object_list %}
    <div class="card-header" style="padding:20px">
        <h5><a href="{{ section.get_absolute_url }}">{{section.name}}</a></h5>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-lg-3">
                <img src="{{section.image.url}}" style="max-width:100%">
            </div>
            <div class="col-lg-9">
                <h3>Description:</h3><p><strong>{{section.bio}}</strong></p>
                <br>
                <h3>Item Url:</h3>
                <p><a href="{{section.itemUrl}}">{{section.itemUrl}}</a></p>
                <br>
                <h3>Auction Ending on:</h3>
                <p><strong>{{section.endingAuction}}</strong></p>
                <br>
                {% if request.user.is_staff %}
                    <button type="submit" class="btn btn-danger"><a  style="color:black" href="{% url 'delete' pk=section.pk %}">Delete</a></button>
                {% endif %}
            </div>
        </div>
    </div>

    <br><br>

    {% endfor %}

{% endblock content %}